<input type="hidden" name="currentPage" id="currentPage" value="1" />
<div class="card shadow-sm" id="dvAction">
    <div class="card-body text-dark shadow-sm merienda">
        <button type="button" class="btn btn-primary" id="btnFind" onclick="find()"> <i class="fas fa-search"></i> Find </button>
        <button type="button" class="btn btn-danger" id="btnCancel" onclick="cancel()"> <i class="fas fa-times"></i> Clear  </button>
        <button type="button" class="btn btn-success" id="btnNew" onclick="newRecord()"> <i class="fas fa-plus"></i> New  </button>
    </div>
</div>
