<button type="button" class="btn btn-dark" id="btnBack" onclick="back()"> <i class="fas fa-long-arrow-alt-left"></i> Back </button>
<button type="button" class="btn btn-primary" id="btnEdit" onclick="edit()"> <i class="fas fa-pencil-alt"></i> Edit </button>
<button type="button" class="btn btn-danger" id="btnDelete" onclick="deleteRecord()"> <i class="fas fa-trash-alt"></i> Delete </button>
